#background{
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	z-index: -1;
}

#app-wrap{
	margin-right: -6%;
}

#app-cont{
	margin: 0 auto;
	width: 30rem;
}

#title-cont{
	padding: 2rem 0;
}

#title{
	text-align: center;
	background-color: #ff8a14;
	padding: 2rem;
}

#title h1{
	font-size: 3rem;
}

input{
	width: 100%;
	height: 2rem;
	background-color: #dbf0bb;
	text-align: center;
}

input:focus{
    outline: 0;
}

#clear-button{
	background-color: #ff8a14;
	width: 6rem;
	padding: 0.5rem;
	margin: 1rem 0;
	text-align: center;
}

#list{
	margin: 0 auto -10rem auto;
}

#list li{
	background-color: #8fd927;
	padding: 1rem;
	margin: 0 auto 1rem auto;
	text-align: center;
	list-style: none;
}

#list .delete-item{
	height: 1.5rem;
	float: left;
	margin-top: -0.25rem;
}

#list .cart{
	height: 2rem;
	float: right;
	margin-top: -0.5rem;
}

#title,
input,
#clear-button,
#list li,
#list .delete-item{
	border-radius: 50px 50px 50px 0;
}

#list .in-cart{
	opacity: 0.3;
}

@media (max-height: 600px){
	#title h1{
	font-size: 1.8rem;
	}

	#app-cont{
	width: 20rem;
	}
}

